<a href="https://colab.research.google.com/github/DrKAI/Example/blob/master/02-4.%ED%8A%9C%ED%94%8C%20%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#튜플은 어떻게 만들까?

 튜플(turple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.
 
 1. 리스트는 [ ]에 둘러쌓이지만 튜플은 ( )에 둘러쌓인다.
 2. 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀수 없다.
 
 튜플의 모습은 다음과 같다.

In [2]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd'))

print (t1)
print (t2)
print (t3)
print (t4)
print (t5)

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

리스트와 모습은 거의 비슷하지만 튜플에서는 리스트와 다른 2가지 차이점을 찾아볼 수 있다.
t2 = (1,) 처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 (,)를 반드시 붙여야 한다는 점.
t4 = 1,2,3 처럼 괄호 ( )를 생략해도 무방하다는 점.

얼핏보면 튜플과 리스트는 비슷한 역할을 하지만, 튜플과 리스트는 구분해서 사용하는 것이 유리하다.

튜플과 리스트의 가장 큰 차이는 값을 변화시킬 수 있는가 없는가이다.

따라서 프로그램이 실행되는 동안 그 값이 항상 변하지 않기를 바란다거나 값이 바뀔까 걱정하고 싶지 않다면 튜플을 사용해야 한다.

반대로 수시로 값을 변화시켜야 할 경우라면 리스트를 사용해야 한다.

**실제 프로그래밍에서는 값이 변경되는 형태의 변수가 훨씬 많기 때문에 평균적으로 튜플보다는 리스트를 더 많이 사용하게 된다.**

# 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?

## 1. 튜플 요소값 삭제 시 오류

In [6]:
t1 = (1,2,'a','b')
print (t1)

del t1[0]
print (t1)

(1, 2, 'a', 'b')

TypeError: ignored

 튜플 요소를 리스트처럼 del 함수로 지우려고 한 예이다.
 
 튜플은 요소를 지우는 행위가 지원되지 않는다는 메세지가 출력된다.

## 2. 튜플 요소값 변경 시 오류

In [7]:
t1 = (1,2,'a','b')
print (t1)

t1[0] = 'c'
print (t1)

(1, 2, 'a', 'b')

TypeError: ignored

튜플 요소값을 변경하려 해도 del 함수와 마찬가지로 오류가 발생한다.

# 튜플의 인덱싱, 슬라이싱, 덧셈(+), 곱셈(*)

튜플은 값을 변화시킬 수 없다는 점만 제외하면 리스트와 완전히 동일하다.

## 1. 인덱싱하기

In [8]:
t1 = (1,2,'a','b')

print (t1)
print (t1[0])
print (t1[3])

(1, 2, 'a', 'b')
1
b

## 2. 슬라이싱하기

In [12]:
t1 = (1,2,'a','b')

print (t1)
print (t1[1:])
print (t1[2:4])

(1, 2, 'a', 'b')
(2, 'a', 'b')
('a', 'b')

## 중간문제. 별을 이쁘게 만들어보시오.

In [43]:
empty = " "
star = "*"

a = 1
b = 1

while a < 5 :
  print(star*b)
  b = b+2
  a = a+1

b = 5
  
while a > 2 :
  a -= 1
  print(star*b)
  b -= 2

  
a = 1

while a < 10 :
  print(star*a)
  a += 2

a -= 2

while a > 2 :
  a -= 2
  print(star*a)

*
***
*****
*******
*****
***
*
*
***
*****
*******
*********
*******
*****
***
*

In [44]:
star = "*"
empty = " "

a = 1
b = 10


while a < 10:
  print(empty*b + star*a)
  b -= 1
  a += 2

#print (a)
#print (b)
a -= 2
b += 2
#print (a)
#print (b)

while a > 2:
  a -= 2
  print(empty*b + star*a)
  b += 1
    
#print (a)
#print (b)

          *
         ***
        *****
       *******
      *********
       *******
        *****
         ***
          *

## 3. 튜플 더하기

In [1]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)

print (t1+t2)

(1, 2, 'a', 'b', 3, 4)

## 4. 튜플 곱하기

In [3]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)

print (t1 * 3)
print (t2 * 2)

(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')
(3, 4, 3, 4)

In [4]:
print (t1 * t2)

TypeError: ignored

위의 경우처럼 튜플간의 곱셈은 불가능하다.

# 연습문제

## Q1. 튜플 작성

숫자 3만을 요소값으로 가지는 튜플을 작성하라.

In [8]:
tuple = (3)

print (tuple)

3

## Q2. 튜플 변경

튜플 (1, 2, 3)을 (1, 4, 3)으로 변경하려고 시도하면 오류가 발생한다. 어째서인가?

In [7]:
a = (1, 2, 3)
a[1] = 4

print (a)

TypeError: ignored

튜플은 리스트와는 다르게 요소값을 한번 지정하면 안의 요소값을 변경할 수 없다.

변경하고 싶으면 리스트를 쓰세요.

## Q3. 튜플 추가

(1, 2, 3)이라는 튜플에 4라는 값을 추가하여 (1, 2, 3, 4)처럼 만들어 출력하시오.

In [18]:
t1 = (1,2,3)
print (t1)

t2 = (4,)
print (t1 + t2)

(1, 2, 3)
(1, 2, 3, 4)

단일 요소를 가지는 튜플을 만들 때에는 요소 뒤에 **,** 를 붙여야 한다!