<a href="https://colab.research.google.com/github/DrKAI/Example/blob/master/02-5%20%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%20%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리란?

"이름" = "이희성"

"생일" = "12월 11일"

대부분의 언어는 위의 예시와 같은 대응 관계를 가지고 있다. 이를 연관 배열(Associative array) or 해시(Hash)라 한다.

파이썬에서는 이러한 자료형을 딕셔너리(Dictionary)라 부른다.

people란 단어에 "사람", football란 단어에는 "축구"라는 뜻이 부합되듯, 딕셔너리는 Key와 Value를 한 쌍으로 갖는 자료형이다.

Key가 "football"이라면, Value는 "축구"가 된다.

딕셔너리는 리스트, 튜플처럼 순차적으로(sequential) 해당 요소값을 구하지 않고, Key값을 통해 Value값을 구한다.

football이라는 단어의 뜻을 찾기 위해 사전의 처음 a, b, c부터 순차적으로 검색하는 것이 아니라 football이라는 단어가 있는 페이지를 펼쳐보는 것이다.

# 딕셔너리는 어떻게 만들까?

**{Key1:Value1, Key2:Value2, Key3:Value}**

기본적인 딕셔너리의 형태는 위와 같다. Key와 Value의 쌍 여러개가 { }에 둘러쌓인다.

각각의 요소는 Key : Value의 형태로 이루어지고, 쉼표(**,**)로 구분된다.

**Key에는 불변값을 사용해야 하고, Value에는 불변값과 가변값을 모두 사용할 수 있다.**

In [2]:
dic = {'name':'이희성', 'phone':'01012345678', 'birth':'19901211'}

name

위의 예시에서 Key값은 'name', 'phone', 'birth'이고, Value값은 '이희성', '01012345678', '19901211'이다.

In [3]:
hell = {666:'Hell'}
list_dictionary = {'test':[1,2,3,4,5]}

Key값으로 정수 666, Value값으로 'Hell'이라는 문자열을 사용하였고,

Key값으로 문자열 'test', Value값으로 [1,2,3,4,5] 리스트를 사용하였다.

# 딕셔너리 쌍 추가, 삭제하기

## 1. 딕셔너리 쌍 추가하기

In [10]:
a = {1:'a'}
print (a)

a[2] = 'ab'
print (a)

a[4] = [1,666,10]
print (a)

a['name'] = '이희성'
print (a)

{1: 'a'}
{1: 'a', 2: 'ab'}
{1: 'a', 2: 'ab', 4: [1, 666, 10]}
{1: 'a', 2: 'ab', 4: [1, 666, 10], 'name': '이희성'}

## 2. 딕셔너리 요소 삭제하기

**del a[Key값]**과 같이 입력시 지정한 Key값에 해당하는 {Key : Value} 쌍이 삭제된다.

In [13]:
a = {1:'a'}
a[2] = 'ab'
a[4] = [1,666,10]
a['name'] = '이희성'
print (a)

del a['name']
print (a)

del a[4]
print (a)

{1: 'a', 2: 'ab', 4: [1, 666, 10], 'name': '이희성'}
{1: 'a', 2: 'ab', 4: [1, 666, 10]}
{1: 'a', 2: 'ab'}

# 딕셔너리 사용법

"딕셔너리는 주로 어떤 것을 표현하는데 사용할까?"

사람 3명의 특기를 표현하는 좋은 방법을 생각해보자. 리스트나 문자열로는 표현하기가 좀 까다롭지 않을까?

하지만 딕셔너리를 이용한다면 표현이 정말 간단해진다.

{"김건영" : 망상, "이희성" : "게임", "김정훈" : "데이터분석"}

## 딕셔너리에서 Key값 사용하여 Value값 얻기

In [15]:
age = {'이희성' : 999, '김건영' : 666}

print (age)
print (age['이희성'])
print (age['김건영'])

{'이희성': 999, '김건영': 666}
999
666

In [0]:
# 당연하게도 Value값으로 접근하려면 오류가 난다.

print (age[666])

리스트, 튜플, 문자열은 요소값을 얻고자 할 때 인덱싱이나 슬라이싱 기법 중 하나를 이용한다.

그러나 딕셔너리는 Key값을 사용하여 Value값을 얻어내는 하나의 방법만을 이용한다.

**"딕셔너리 변수[Key값]"**

In [19]:
dic01 = {1:'Hell', 2:'Yeah'}
list01 = [0,1,2]
tuple01 = (0,1,2)

print (dic01)
print (list01)
print (tuple01)

print (dic01[1])
print (list01[1])
print (tuple01[1])

{1: 'Hell', 2: 'Yeah'}
[0, 1, 2]
(0, 1, 2)
Hell
1
1

위의 예시에서 확연하게 알 수 있다.

리스트 변수 list01, 튜플 변수 tuple01에서 [ ]안의 숫자 1은 두번째 요소를 가리킨다.

그러나 딕셔너리 변수 dic01에서 [ ]안의 숫자 1은 두번째 요소가 아니라 Key값 1을 나타낸다.

**딕셔너리는 인덱싱이 불가하다!**

**또한, 인덱싱은 어드레스가 아니다!! 혼동하지 말자**

## 딕셔너리 만들 때 주의사항

**중복되는 Key값 설정 시 하나를 제외한 나머지 Key값은 모두 무시된다.**

In [22]:
dic_test01 = {1:'이희성', 1:'바보'}
dic_test02 = {'이희성':666, '이희성':777}

print (dic_test01)
print (dic_test02)

{1: '바보'}
{'이희성': 777}

**Key값에 리스트는 사용할 수 없다. 그러나 튜플은 사용할 수 있다!**

리스트는 그 값이 변할 수 있기 때문에 사용 불가이다. 아래의 예시를 보자.

In [30]:
dic_listTest = {[1,2,3]:'Hell'}

print (dic_listTest[1,2,3])

TypeError: ignored

반대로, Value값엔 리스트 사용이 가능하다.

In [31]:
dic_listTest = {'Hell':[1,2,3]}

print (dic_listTest)
print (dic_listTest['Hell'])

{'Hell': [1, 2, 3]}
[1, 2, 3]

# 딕셔너리 관련 함수들

파이썬 2.7까지는 딕셔너리.keys() 호출 시 리턴값으로 dict_keys가 아닌 리스트를 리턴했다.

파이썬 3.0 이후에서는 메모리 낭비를 줄이기 위해 dict_keys라는 객체를 리턴한다.

**3.0 이후 버전에서 리턴값으로 리스트가 필요한 경우 "list(딕셔너리.keys())"를 사용하시오.**

dict_keys, dict_values, dict_items 등은 리스트로 변환하지 않더라도 기본적 반복성 구문을 실행할 수 있다. for문 같은거요.

In [35]:
dic01 = {'name':'이희성', 'phone':'01012345678', 'birth':'19901211'}

print (dic01)
print (dic01.keys())
print (dic01.values())
print (dic01.items())

{'name': '이희성', 'phone': '01012345678', 'birth': '19901211'}
dict_keys(['name', 'phone', 'birth'])
dict_values(['이희성', '01012345678', '19901211'])
dict_items([('name', '이희성'), ('phone', '01012345678'), ('birth', '19901211')])

dict_keys() 객체는 리스트를 사용하는 것과 큰 차이는 없지만,

리스트 고유의 함수 append, insert, pop, remove, sort 등을 수행할 수는 없다.

In [39]:
list (dic01.keys())dic01 = {'name':'이희성', 'phone':'01012345678', 'birth':'19901211'}

for a in dic01.keys():
  print(a)
  
for b in dic01.values():
  print(b)
  
for c in dic01.items():
  print(c)

name
phone
birth
이희성
01012345678
19901211
('name', '이희성')
('phone', '01012345678')
('birth', '19901211')

객체를 리스트로 변환하려면 다음과 같이 하자.

In [44]:
dic01 = {'name':'이희성', 'phone':'01012345678', 'birth':'19901211'}

print (list(dic01.keys()))
print (list(dic01.values()))
print (list(dic01.items()))

['name', 'phone', 'birth']
['이희성', '01012345678', '19901211']
[('name', '이희성'), ('phone', '01012345678'), ('birth', '19901211')]

## Key : Value 쌍 모두 지우기 (clear())

딕셔너리 안의 모든 요소 삭제를 삭제한다.

빈 리스트를 [ ], 빈 튜플을 ( )로 표현하듯 빈 딕셔너리도 { }로 표현한다.

In [45]:
dic01 = {'name':'이희성', 'phone':'01012345678', 'birth':'19901211'}

dic01.clear()

print (dic01)

{}

## Key로 Value값 얻기 (get())

get(x) 함수는 x라는 Key에 대응되는 Value를 돌려준다.

**dic.get(a) = dic(a)**

다만, 딕셔너리에 없는 키로 값을 가져오려고 할 경우 dic['NoKey']는 Key값 오류를 발생시키고,

dic.get('NoKey')는 None을 리턴하는 차이가 있다.

In [46]:
dic01 = {'name':'이희성', 'phone':'01012345678', 'birth':'19901211'}

print (dic01['name'])
print (dic01.get('name'))

이희성
이희성

In [47]:
# Key값이 없을때1
dic01 = {'name':'이희성', 'phone':'01012345678', 'birth':'19901211'}

print (dic01['Nokey'])

KeyError: ignored

In [48]:
# Key값이 없을떄2
dic01 = {'name':'이희성', 'phone':'01012345678', 'birth':'19901211'}

print (dic01.get('NoKey'))

None

## 해당 Key값이 딕셔너리 안에 있는지 조사하기 ( in( ) )

딕셔너리의 Key가 존재하느냐, 존재하지 않느냐에 따라 True, False를 리턴한다.

In [50]:
dic01 = {'name':'이희성', 'phone':'01012345678', 'birth':'19901211'}

T = 'name' in dic01
print (T)

F = 'Hell' in dic01
print (F)

True
False

# 연습문제

## Q1. 딕셔너리 만들기

다음 표를 딕셔너리로 만드시오.

항목 : 값

name : 홍길동

birth : 1128

age : 30

In [14]:
dic_A = {'name':'홍길동','birth':1128,'age':30}

print (dic_A)
print (dic_A['name'])
print (dic_A['age'])

#print (dic_A['name']['birth'])
#string indices must be integers 문자열 인덱스들은 반드시 정수여야 한다?

{'name': '홍길동', 'birth': 1128, 'age': 30}
홍길동
30

## Q2. 딕셔너리 오류

다음과 같은 딕셔너리 A가 있다.

In [17]:
A = dict()
print (A)

{}

다음 중 오류가 발생하는 경우는? 그리고 그 이유는?

1. a['name'] = 'python'

2. a['a,'] = 'python'

3. a[[1]] = 'python'

4. a[250] = 'python'

In [18]:
A = dict()
print (A)

A[[1]] = 'python'
print (A[[1]])

{}

TypeError: ignored

분명히 3번일거 같은데, 이유 설명은 어렵다...

## Q3. 딕셔너리 값 추출 1

딕셔너리 dic01에서 'B'에 해당되는 값을 추출하고 삭제해보자.

dic01 = {'A':90, 'B':80, 'C':70}

In [27]:
dic01 = {'A':90,'B':80,'C':70}
print (dic01)

print (dic01['B'])
del dic01['B']

print (dic01)

{'A': 90, 'B': 80, 'C': 70}
80
{'A': 90, 'C': 70}

## Q4. 딕셔너리 값 추출 2

다음에 딕셔너리 a에서 'C'라는 key에 해당되는 value를 출력하는 프로그램이다.

In [30]:
a = {'A':90, 'B':80}
a['C']

KeyError: ignored

a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생하게 된다.

'C'에 해당되는 키 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정해보자.

In [45]:
a = {'A':90,'B':80}
print (a)

print (a.get('C', 70))

{'A': 90, 'B': 80}
70

## Q5. 딕셔너리 최소값

다음과 같은 딕셔너리 a가 있다.

a = {'A':90, 'B':80, 'C':70}

딕셔너리 a의 value 중에서 최소값을 출력하시오.

**Hint. Min함수를 이용하라.**

In [67]:
a = {'A':90, 'B':80, 'C':70}

b = a.values()
print (min(b))

70

## 번외편. 현재 작업 디렉토리를 아는 법

In [53]:
import os

os.getcwd()

'/content'

In [56]:
cd

/root

## Q6. 딕셔너리 리스트 변환

다음과 같은 딕셔너리 F가 있다.

f = {'A':90,'B':80,'C':70}

위 딕셔너리 f를 다음과 같은 리스트로 만들어보자.

[('A', 90),('B', 80),('C', 70)]

**Hint. 딕셔너리의 items 내장함수를 이용해보자.**

In [44]:
f = {'A':90,'B':80,'C':70}
print (f)

f_fix = f.items()
print (f_fix)

list (f_fix)

{'A': 90, 'B': 80, 'C': 70}
dict_items([('A', 90), ('B', 80), ('C', 70)])

[('A', 90), ('B', 80), ('C', 70)]