<a href="https://colab.research.google.com/github/DrKAI/Example/blob/master/02-6%20%EC%A7%91%ED%95%A9%20%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 집합 자료형은 어떻게 만들까?

집합(set)은 파이썬 2.3부터 지원되기 시작한 자료형이다.

집합에 관련된 것들을 쉽게 처리하기 위해 만들어진 자료형이고, set 키워드를 이용해 만들 수 있다.

In [5]:
s1 = set([1,2,3])
s2 = set("Hell")

print (s1)
print (s2)

{1, 2, 3}
{'l', 'e', 'H'}

위와 같이 **set() 괄호 안에 리스트를 입력하여 만들거나, 문자열을 입력하여 만든다.**

# 집합 자료형의 특징

**중복 허용 X**

**순서 X (Unordered)**

위의 set("Hell") 결과가 좀 이상하지 않나?

"Hell"이라는 문자열로 set 자료형을 만들었는데, 생성된 자료형에는 "l" 문자가 하나 빠져있고 순서도 제멋대로이다.

리스트, 튜플은 순서가 있기 때문에(ordered) 인덱싱을 통해 자료형의 값을 얻을 수 있지만,

set 자료형은 순서가 없기 때문에(unordered) 인덱싱을 통해 값을 얻을 수 없다.

딕셔너리 역시 순서 없는 자료형이라 인덱싱을 지원하지 않는다.

아무튼, set 자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 변환 후에 해야 한다.

**중복을 허용하지 않는 set의 특징은 자료형의 중복을 제거하기 위한 필터로도 종종 사용된다.**

In [6]:
s1 = set([1,2,3])
print (s1)

l1 = list(s1)
print (l1)
print (l1[0])

l2 = tuple(s1)
print (l2)
print (l2[0])

{1, 2, 3}
[1, 2, 3]
1
(1, 2, 3)
1

# 집합 자료형 활용하는 방법

## 교집합, 합집합, 차집합 구하기

set 자료형이 유용하게 쓰일 때는 위의 3집합을 구할 때이다.

## 1. 교집합

In [7]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print (s1&s2)
print (s2&s1)

print (s1.intersection(s2))
print (s2.intersection(s1))

{4, 5, 6}
{4, 5, 6}
{4, 5, 6}
{4, 5, 6}

## 2. 합집합

In [8]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print (s1|s2)
print (s2|s1)

print (s1.union(s2))
print (s2.union(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

## 3. 차집합

In [9]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print (s1-s2)
print (s2-s1)

print (s1.difference(s2))
print (s2.difference(s1))

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

# 집합 자료형 관련 함수

## 값 1개 추가하기 ( add() )

이미 만들어진 set 자료형에 값을 추가한다. 1개의 값만 추가할 때 사용한다.

In [10]:
s1 = set([1,2,3,4,5,6])
print (s1)

s1.add(10)
print (s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 10}

## 값 여러 개 추가하기 ( update() )

이미 만들어진 set 자료형에 여러 개의 값을 한꺼번에 추가할 때 사용한다.

In [11]:
s1 = set([1,2,3,4,5,6])
print (s1)

s1.update([7,9,8,10])
print (s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## 특정 값 제거하기 ( remove() )

set 자료형 안의 특정 값을 제거하고 싶을 때 사용한다.

In [16]:
s1 = set([1,2,3,4,5,6])
print (s1)

s1.remove(3)
print (s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

그렇다면, 여러 개의 값을 제거하는 것은 가능할까?

In [17]:
s1 = set([1,2,3,4,5,6])
print (s1)

s1.remove(2,3,4)
print (s1)

{1, 2, 3, 4, 5, 6}

TypeError: ignored

**문법 상 하나씩만 제거가 가능하다고 메세지가 출력된다**

# 번외편. set 자료형 생성시 꼭 [ ]을 이용해야 할까?

( )로는 불가한가 테스트 해보자.

In [15]:
s1 = set((1,2,3,4,5,6))
print (s1)

{1, 2, 3, 4, 5, 6}

**된다!**

# 연습문제

## Q1. 집합 만들기1

['a', 'b', 'c', 'd'] 라는 리스트를 집합 자료형으로 만드시오.

In [20]:
s_test = set(['a', 'b', 'c', 'd'])

print (s_test)

{'c', 'b', 'a', 'd'}

## Q2. 집합의 중복

중복이 허용되지 않는 집합 자료형의 특징을 이용하여 아래의 리스트에서 중복된 숫자를 제거하라.

list01 = [1,1,2,2,2,3,3,3,3,4,4,4,4,4,5,5,5,5,5,5]

In [23]:
list01 = [1,1,2,2,2,3,3,3,3,4,4,4,4,4,5,5,5,5,5,5]
print (list01)

print (set(list01))

set01 = set(list01)
print (set01)

[1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5]
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

## Q3. 차집합

s1 = set(['a', 'b', 'c', 'd', 'e', 'f'])

s2 = set(['c', 'd', 'e', 'f', 'g', 'h'])

s1의 집합에서 s2 집합에 포함된 요소를 제거하라.

In [26]:
s1 = set(['a', 'b', 'c', 'd', 'e', 'f'])
s2 = set(['c', 'd', 'e', 'f', 'g', 'h'])

print (s1-s2)
print (s1.difference(s2))

s_fix01 = s1-s2
s_fix02 = s1.difference(s2)

print (s_fix01)
print (s_fix02)

{'b', 'a'}
{'b', 'a'}
{'b', 'a'}
{'b', 'a'}

## Q4. 집합 만들기2

In [28]:
a = {'a','b','c'}
print (a)
print (type(a))

b = ('a','b','c')
print (b)
print (type(b))

c = ['a','b','c']
print (c)
print (type(c))

{'c', 'b', 'a'}
<class 'set'>
('a', 'b', 'c')
<class 'tuple'>
['a', 'b', 'c']
<class 'list'>

집합 자료형은 위의 예시 a와 같이도 만들 수 있다.

그럼 값이 하나 없는 비어있는 집합 자료형을 만들면 어떻게 될까?

In [30]:
a = {}
print (a)
print (type(a))

b = ()
print (b)
print (type(b))

c = []
print (c)
print (type(c))

{}
<class 'dict'>
()
<class 'tuple'>
[]
<class 'list'>

위처럼 딕셔너리로 인식하게 된다. 값이 비어있는 집합 자료형은 어떻게해야 만들 수 있을까?

In [33]:
list01 = []
tuple01 = ()

set01 = set(list01)
set02 = set(tuple01)

print (set01)
print (set02)

print (type(set01))
print (type(set02))

set()
set()
<class 'set'>
<class 'set'>

## Q5. 집합 추가

집합 자료형 a = {'a', 'b', 'c'}가 있다. 이에 {'d', 'e', 'f'}를 추가하시오.

In [38]:
a = {'a', 'b', 'c'}
print (a)

a.update('d','e','f')
print (a)

{'c', 'b', 'a'}
{'a', 'd', 'c', 'e', 'b', 'f'}

In [45]:
# 당연하게도, 자료형과 숫자형을 혼용하는건 불가하다.
a = {'a', 'b', 'c'}
print (a)

a.update(10,100,1000)
print (a)

{'c', 'b', 'a'}

TypeError: ignored