<a href="https://colab.research.google.com/github/DrKAI/Example/blob/master/03-3%20for%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for문의 기본 구조

while문과 비슷한 반복문인 for문은 문장 구조가 한 눈에 쏙 들어온다는 장점이 있다. 기본 구조는 아래와 같다.

for 변수 in 리스트(or 튜플 or 문자열):

    수행문장1
    수행문장2

## 1. 전형적 for문

In [0]:
test_list = ['one', 'two', 'three']

for i in test_list:
  print (i)

one
two
three

## 2. 다양한 for문 사용

In [0]:
a = [(1,2), (3,4), (5,6)]

for (first, last) in a:
  print (first + last)

3
7
11

위의 예는 리스트 a의 요소값이 튜플이기 때문에 각각의 요소들이 자동으로 (first, last)라는 변수에 대입된다.

## 3. for문의 응용

"총 5명의 학생이 시험을 보았는데 점수가 60점 이상일 때 합격이고, 그렇지 않으면 불합격이다. 합격, 불합격 결과를 보여주시오"

점수 예시) score = [90, 25, 67, 45, 80]

In [0]:
score = [90, 25, 67, 45, 80]

number = 0

for i in score:
  number += 1
  
  if i >= 60:
    print ("%d번, 합격!" % number)
  else:
    print ("%d번, 불합격! 낙오자!" % number)

1번, 합격!
2번, 불합격! 낙오자!
3번, 합격!
4번, 불합격! 낙오자!
5번, 합격!

각각의 학생에게 번호를 부여하기 위해 number라는 변수를 이용하였다.

점수 리스트인 score에서 차례로 점수를 꺼내여 i라는 변수에 대입하고 for문의 문장을 수행한다.

for문이 한 번씩 수행될 때 마다 number는 1씩 증가한다.

# for문과 continue

continue는 for문에서도 사용할 수 있다.

for문 안의 문장을 수행하던 와중에 continue문을 만나면 for문의 처음으로 돌아간다.

In [3]:
score = [90, 25, 67, 45, 80]

number = 0

for i in score:
  number += 1
  
  if i < 60: continue
  print ("%d번, 축하한다. 합격!" % number)

1번, 축하한다. 합격!
3번, 축하한다. 합격!
5번, 축하한다. 합격!

상기 코드는 점수가 60점 아래인 학생인 경우에 한해서 continue문이 작동된다.

따라서 print문이 출력되지 않고, for문의 처음으로 돌아간다.

# for와 자주 사용되는 range 함수

In [6]:
a = range(20)
print (a)

b = range(10, 100)
print (b)

range(0, 20)
range(10, 100)

range(20)은 0부터 20미만의 숫자를 포함하는 range 객체를 만들어준다.

range(10, 100)은 10부터 100미만의 숫자를 데이터로 갖는 객체이다.

## range 함수 예시

In [12]:
sum = 0

for i in range(1, 5):
  sum += i
  
print(sum)

10

1에서 4까지 더한 값을 보여준다.

우리가 위에서 60점 이상일 떄 합격 문장을 출력하는 예제도 range 함수를 이용해 바꿀 수 있다.

In [13]:
marks = [90, 25, 67, 45, 80]

for number in range(len(marks)):
  if marks[number] < 60: continue
    
  print ("%d번, 합격!" % (number+1))

1번, 합격!
3번, 합격!
5번, 합격!

len 함수는 리스트 내 요소의 개수를 돌려주는 함수이다. len(marks)는 5로 나올 것이고, 고로 range(5)가 될 것이다.

number 변수에는 차례로 0부터 4까지의 숫자가 대입될 것이고, marks[number]는 차례대로 90, 25, 67, 45, 80의 값을 갖게 된다.

## for과 range를 이용한 구구단

for문에 range 함수를 이용하면 코드 4 줄만으로 구구단을 만들 수 있다.

In [23]:
for x in range(1, 10):
  for y in range(1, 10):
    #print ("%d * %d = %d" % (x, y, x*y), end=" ")
    print("%d * %d = %d" % (x, y, x*y))
  
  print(' ')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 입력 인수 end를 넣은 이유는 무엇인가?

위의 코드에서 주석처리 한 print문을 보면 **end=" "**가 있다. 이것은 결과값을 출력할 때 다음 줄로 넘기지 않고 그 줄에 계속해서 출력하기 위해서다.

**print(' ')** 부분은 각 단을 구분하기 위해 두번째 for문이 끝나면 결과값을 다음 줄부터 출력하게 해주는 문장이다.

## 리스트 안에 for문 포함하기

리스트 안에 for문을 포함하는 리스트 내포(List comprehension)를 이용하면 좀 더 편리하고 직관적인 프로그램을 만들 수 있다.

In [25]:
a = [1, 2, 3, 4]
result = []

for num in a:
  result.append(num * 3)
  
print(result)

[3, 6, 9, 12]

위의 예제는 a라는 리스트의 각 항목에 3을 곱한 결과를 리스트 result에 담는 예제이다.

리스트 내포를 이용하면 아래와 같이 간단하게 표현할 수 있다.