[View in Colaboratory](https://colab.research.google.com/github/DrKAI/Example/blob/master/Python_Basic.ipynb)

**변수 선언 및 출력**

In [0]:
a = 245452775626

In [0]:
print(a)

245452775626

In [1]:
b=45.4325736
c=a/b
print(c)

NameError: ignored

print(a/b)는 실행 불가

In [0]:
print(a/b)

SyntaxError: ignored

Q1. 국어 80 영어 75 수학 55
세 과목 평균 점수는?

In [0]:
국어=80
수학=55
영어=75
average = (국어+수학+영어)/3

print(average)

70.0

Q2-3. 17 나누기 3의 몫과 나머지는?

In [0]:
print(17/3)
print(17%3)

5.666666666666667
2

Q4. 자연수 홀짝 구분법은?

2로 나눠서 나머지를 봅시다

In [0]:
이희성 = "바보"
바보 = "이희성"
print(이희성+바보)
바보이희성 = 바보+이희성
print(바보이희성)
print(바보이희성*2)
#print(바보이희성**2) 안됨
#print(바보이희성ˆ3) 상동

바보이희성
이희성바보
이희성바보이희성바보

In [0]:
# 문자열 포매팅 안됨 
#print('"리희성은 %d\% 바보다" % 100')
#babo = "이희성은 %d% 바보다" %100

# 잘됨 내가 멍청한거
# 숫자 바로 대입
print("리희성은 %d%% 한국남자다" % 100)
babo = "이희성은 %d%% 일본남자다" % 100
print(babo)

# 문자열 바로 대입
print("이희성은 %s%% 꺼츠가 클것이다" % "오백만")
print("리희성은 %s 작을 것이다"%"백%s"%"오십%")

# 문자열 뒤 % 유무의 차이
cc = "이희성은 %skg만큼 몸무게가 늘었다"
dd = "이희성은 %skg만큼 몸무게가 늘엇다" %"500"
print(cc)
print(dd)

# 문자값을 나타내는 변수로 대입
ee = "%s"
ff = "%s" %"마더퍼커"
print("한남 %s%s" % (ee, ff))
print("한남 %s %s" % (ee %"죽어", ff))
print("한남 %s %s" % (ff, ee))
# print("한남 %s %d" % (ee, ff)) 형식 불일치로 실행X
# ee와 ff를 바꾸면 ee가 뒤에 %를 사용 안해서 실행X

# 실행 불가
# print("%s %s %s" % (ee, ff))
# print("%s %s" % (ee, ff, ff))

In [0]:
pri

In [0]:
# Q1. "쩜프투 파이썬" 문자열 출력해봐라
# Q2. 두줄짜리 문자열 만들어봐라
# Q3. "python" 문자열 앞에 공백 24자리를 추가해라
# Q4. 주민번호 앞자리와 뒷자리를 나누어 출력하라
# Q5. 주민번호에서 성별 알려주는 숫자를 인덱싱 표기하라
# Q6. 1980M1120 문자열을 M19801120으로 변경하라
# Q7. Q3을 포맷코드로 해봐라
# Q8. life is short 에서 short가 시작되는 인덱스를 구하라
# Q9. a:b:c:d를 a#b#c#d 로 고쳐라 replace로
# Q10. Q9를 split과 join으로 고쳐라

print('"점프투 파이선" 문제를 풀어보자')

# print("""이희성
# 바보""")
baboo = """이희성
바보"""
print(baboo)
print("리희성\n 바보")

print("%spython" % "                        ")
space = "                        "
print("%spython"%space)

jumin = "900819-1234567"
# juminf = jumin[:5]
juminf = jumin[:6]
juminb = jumin[7:]
print(jumin, juminf, juminb)
# 문자열 줄내림말고 변수별로 내리는건 없을까

# 문자열 전체문자수를 알려주는건 없나
print(jumin[7])

a = "1980M1120"
print(a)
b = a[5:]
print("M1980" + b)
# print("%s"+b % "M1980")
print("%s"%"M1980"+b)

##

### 연습문제

Q01. "쩜프투 파이썬" 문자열 출력해봐라

Q02. 두줄짜리 문자열 만들어봐라

Q03. "python" 문자열 앞에 공백 24자리를 추가해라

Q04. 주민번호 앞자리와 뒷자리를 나누어 출력하라

Q05. 주민번호에서 성별 알려주는 숫자를 인덱싱 표기하라

Q06. 1980M1120 문자열을 M19801120으로 변경하라

Q07. Q3을 포맷코드로 해봐라

Q08. life is short 에서 short가 시작되는 인덱스를 구하라

Q09. a:b:c:d를 a#b#c#d 로 고쳐라 replace로

Q10. Q9를 split과 join으로 고쳐라

In [0]:
# Q01
print("쩜프투 파이썬")

print('점프투 파이선')

a = "쩜프투 파이썬"
print(a)

In [0]:
# Q02
print("""쩜프투 
파이썬""")

In [8]:
# Q03
print("                        python")

                        python

In [0]:
# Q04

# **리스트 자료형**

In [3]:
# 리스트명 = [요소1, 요소2, ...]

list01 = [1, 2, 3]
list02 = ['f', 'u', 'c', 'k']
list03 = [1, 2, 3, 'f', 'k']
list04 = [1, 2, ['f', 'c', 'k']]

# 빈 리스트 생성
list05 = list()

print(list01)
print(list02)
print(list03)
print(list04)
print(list05)

[1, 2, 3]
['f', 'u', 'c', 'k']
[1, 2, 3, 'f', 'k']
[1, 2, ['f', 'c', 'k']]
[]

# **리스트 인덱싱**

In [4]:
list06 = [1, 2, 3]

# list06의 2번째 요소와 3번째 요소 더하기
a = list06[1] + list06[2]
print(a)

# 그냥 출력단에서 바로 연산도 가능함
print(list06[0] + list06[2])

5
4

In [5]:
list07 = [1, 2, ['F','U','C','K']]

# [-1]과 [2]를 비교해보자
print(list07[-1])
print(list07[2])

['F', 'U', 'C', 'K']
['F', 'U', 'C', 'K']

In [7]:
# 리스트 안의 리스트에서 인덱싱을 해보자

print(list07[2][0])
print(list07[2][1])
print(list07[2][2])
print(list07[2][3])

F
U
C
K

In [22]:
# 리스트 안의 리스트 인덱싱 다른 시도를 해보자.
print(list07[2][-1])
print(list07[2][-2])
print(list07[2][-3])
print(list07[2][-4])
# 음수값은 리스트 우측에서부터 출력된다는 걸 확인할 수 있다.


# P.S [2][-0]을 하면 뭐가 나올까?
print(list07[2][-0])
# [-0]은 [0] 취급을 하는 듯하다. 이러지 말자.

K
C
U
F
F

In [19]:
# 리스트 안의 리스트 인덱싱 다른 시도를 해보자. Two.
print(list07[1][0])
# 에러가 뜰 것이다. list07 = [1]이 가리키는 값은 2이다.

TypeError: ignored

In [24]:
# 삼중 리스트도 가능할까?
list08 = [10, 50, ['H','i', ['F','U','C','K']]]
print(list08[2][2][3])

# 삼중까지 사용하면 혼란스럽기 때문에 우선 가능하단 것만 알아두자.

K

# **리스트 슬라이싱**

In [31]:
# 문자열에서 사용했던 슬라이싱과 동일하다.

list09 = [1, 2, 3, 4, 5]
print(list09[0:3])

# [a:b]이면 a <= 슬라이싱 구간 < b이다. 한 마디로 b값은 포함 안 함!

print(list09[0:])
print(list09[2:4])
print(list09[:5])

[1, 2, 3]
[1, 2, 3, 4, 5]
[3, 4]
[1, 2, 3, 4, 5]

In [40]:
# 아까 사용했던 list07 = [1, 2, ['F','U','C','K']] 빌려와서 중첩 리스트 슬라이싱을 해보자

print(list07[2][0:3])
print(list07[2][1:4])

['F', 'U', 'C']
['U', 'C', 'K']
['F', 'U', 'C', 'K']
['F', 'U', 'C', 'K']

In [42]:
# 이런 것도 허용은 된다. 허용은! 이러지 말자.

print(list07[2][:100])
print(list07[2][-100:])

['F', 'U', 'C', 'K']
['F', 'U', 'C', 'K']

# **리스트 연산자**

리스트는 덧셈이 가능하다. 사칙연산의 개념이 아닌, 리스트 간의 결합이다.

In [55]:
print(list07 + list08)

[1, 2, ['F', 'U', 'C', 'K'], 10, 50, ['H', 'i', ['F', 'U', 'C', 'K']]]

리스트는 곱셈도 가능하다. 역시 사칙연산 개념이 아닌, 리스트 요소의 반복이다.

In [53]:
print(list07 * 3)

[1, 2, ['F', 'U', 'C', 'K'], 1, 2, ['F', 'U', 'C', 'K'], 1, 2, ['F', 'U', 'C', 'K']]

그럼 이런 것도 가능할까? 확인해보라.

In [54]:
print(list07 * 3 + list08 * 2)

[1, 2, ['F', 'U', 'C', 'K'], 1, 2, ['F', 'U', 'C', 'K'], 1, 2, ['F', 'U', 'C', 'K'], 10, 50, ['H', 'i', ['F', 'U', 'C', 'K']], 10, 50, ['H', 'i', ['F', 'U', 'C', 'K']]]

**가능하다!**

**리스트 연산에 주의할 점이 있다.** 아래의 코드를 실행시켜보자.

In [57]:
print(list07[2] + "hi")

TypeError: ignored

오류가 발생할 것이다. 당연하게도, 정수와 문자열은 서로 더하는 것이 불가능하다. 형식을 변환해야 한다.

In [67]:
print(str(list07[1]) + "Fuck")
print(str(list07[2]) + "hi")
print(str(list07[:3]) + "   FFUCK")

2Fuck
['F', 'U', 'C', 'K']hi
[1, 2, ['F', 'U', 'C', 'K']]   FFUCK

# **리스트 수정 및 삭제**