[View in Colaboratory](https://colab.research.google.com/github/DrKAI/Example/blob/master/Python_Basic.ipynb)

**변수 선언 및 출력**

In [0]:
a = 245452775626

In [0]:
print(a)

245452775626

In [1]:
b=45.4325736
c=a/b
print(c)

NameError: ignored

print(a/b)는 실행 불가

In [0]:
print(a/b)

SyntaxError: ignored

Q1. 국어 80 영어 75 수학 55
세 과목 평균 점수는?

In [0]:
국어=80
수학=55
영어=75
average = (국어+수학+영어)/3

print(average)

70.0

Q2-3. 17 나누기 3의 몫과 나머지는?

In [0]:
print(17/3)
print(17%3)

5.666666666666667
2

Q4. 자연수 홀짝 구분법은?

2로 나눠서 나머지를 봅시다

In [0]:
이희성 = "바보"
바보 = "이희성"
print(이희성+바보)
바보이희성 = 바보+이희성
print(바보이희성)
print(바보이희성*2)
#print(바보이희성**2) 안됨
#print(바보이희성ˆ3) 상동

바보이희성
이희성바보
이희성바보이희성바보

In [0]:
# 문자열 포매팅 안됨 
#print('"리희성은 %d\% 바보다" % 100')
#babo = "이희성은 %d% 바보다" %100

# 잘됨 내가 멍청한거
# 숫자 바로 대입
print("리희성은 %d%% 한국남자다" % 100)
babo = "이희성은 %d%% 일본남자다" % 100
print(babo)

# 문자열 바로 대입
print("이희성은 %s%% 꺼츠가 클것이다" % "오백만")
print("리희성은 %s 작을 것이다"%"백%s"%"오십%")

# 문자열 뒤 % 유무의 차이
cc = "이희성은 %skg만큼 몸무게가 늘었다"
dd = "이희성은 %skg만큼 몸무게가 늘엇다" %"500"
print(cc)
print(dd)

# 문자값을 나타내는 변수로 대입
ee = "%s"
ff = "%s" %"마더퍼커"
print("한남 %s%s" % (ee, ff))
print("한남 %s %s" % (ee %"죽어", ff))
print("한남 %s %s" % (ff, ee))
# print("한남 %s %d" % (ee, ff)) 형식 불일치로 실행X
# ee와 ff를 바꾸면 ee가 뒤에 %를 사용 안해서 실행X

# 실행 불가
# print("%s %s %s" % (ee, ff))
# print("%s %s" % (ee, ff, ff))

In [0]:
pri

In [0]:
# Q1. "쩜프투 파이썬" 문자열 출력해봐라
# Q2. 두줄짜리 문자열 만들어봐라
# Q3. "python" 문자열 앞에 공백 24자리를 추가해라
# Q4. 주민번호 앞자리와 뒷자리를 나누어 출력하라
# Q5. 주민번호에서 성별 알려주는 숫자를 인덱싱 표기하라
# Q6. 1980M1120 문자열을 M19801120으로 변경하라
# Q7. Q3을 포맷코드로 해봐라
# Q8. life is short 에서 short가 시작되는 인덱스를 구하라
# Q9. a:b:c:d를 a#b#c#d 로 고쳐라 replace로
# Q10. Q9를 split과 join으로 고쳐라

print('"점프투 파이선" 문제를 풀어보자')

# print("""이희성
# 바보""")
baboo = """이희성
바보"""
print(baboo)
print("리희성\n 바보")

print("%spython" % "                        ")
space = "                        "
print("%spython"%space)

jumin = "900819-1234567"
# juminf = jumin[:5]
juminf = jumin[:6]
juminb = jumin[7:]
print(jumin, juminf, juminb)
# 문자열 줄내림말고 변수별로 내리는건 없을까

# 문자열 전체문자수를 알려주는건 없나
print(jumin[7])

a = "1980M1120"
print(a)
b = a[5:]
print("M1980" + b)
# print("%s"+b % "M1980")
print("%s"%"M1980"+b)

##

### 연습문제

Q01. "쩜프투 파이썬" 문자열 출력해봐라

Q02. 두줄짜리 문자열 만들어봐라

Q03. "python" 문자열 앞에 공백 24자리를 추가해라

Q04. 주민번호 앞자리와 뒷자리를 나누어 출력하라

Q05. 주민번호에서 성별 알려주는 숫자를 인덱싱 표기하라

Q06. 1980M1120 문자열을 M19801120으로 변경하라

Q07. Q3을 포맷코드로 해봐라

Q08. life is short 에서 short가 시작되는 인덱스를 구하라

Q09. a:b:c:d를 a#b#c#d 로 고쳐라 replace로

Q10. Q9를 split과 join으로 고쳐라

In [0]:
# Q01
print("쩜프투 파이썬")

print('점프투 파이선')

a = "쩜프투 파이썬"
print(a)

In [0]:
# Q02
print("""쩜프투 
파이썬""")

In [8]:
# Q03
print("                        python")

                        python

In [0]:
# Q04

# **리스트 자료형**

In [3]:
# 리스트명 = [요소1, 요소2, ...]

list01 = [1, 2, 3]
list02 = ['f', 'u', 'c', 'k']
list03 = [1, 2, 3, 'f', 'k']
list04 = [1, 2, ['f', 'c', 'k']]

# 빈 리스트 생성
list05 = list()

print(list01)
print(list02)
print(list03)
print(list04)
print(list05)

[1, 2, 3]
['f', 'u', 'c', 'k']
[1, 2, 3, 'f', 'k']
[1, 2, ['f', 'c', 'k']]
[]

# **리스트 인덱싱**

In [4]:
list06 = [1, 2, 3]

# list06의 2번째 요소와 3번째 요소 더하기
a = list06[1] + list06[2]
print(a)

# 그냥 출력단에서 바로 연산도 가능함
print(list06[0] + list06[2])

5
4

In [4]:
list07 = [1, 2, ['F','U','C','K']]

# [-1]과 [2]를 비교해보자
print(list07[-1])
print(list07[2])

['F', 'U', 'C', 'K']
['F', 'U', 'C', 'K']

In [7]:
# 리스트 안의 리스트에서 인덱싱을 해보자

print(list07[2][0])
print(list07[2][1])
print(list07[2][2])
print(list07[2][3])

F
U
C
K

In [22]:
# 리스트 안의 리스트 인덱싱 다른 시도를 해보자.
print(list07[2][-1])
print(list07[2][-2])
print(list07[2][-3])
print(list07[2][-4])
# 음수값은 리스트 우측에서부터 출력된다는 걸 확인할 수 있다.


# P.S [2][-0]을 하면 뭐가 나올까?
print(list07[2][-0])
# [-0]은 [0] 취급을 하는 듯하다. 이러지 말자.

K
C
U
F
F

In [19]:
# 리스트 안의 리스트 인덱싱 다른 시도를 해보자. Two.
print(list07[1][0])
# 에러가 뜰 것이다. list07 = [1]이 가리키는 값은 2이다.

TypeError: ignored

In [24]:
# 삼중 리스트도 가능할까?
list08 = [10, 50, ['H','i', ['F','U','C','K']]]
print(list08[2][2][3])

# 삼중까지 사용하면 혼란스럽기 때문에 우선 가능하단 것만 알아두자.

K

# **리스트 슬라이싱**

In [31]:
# 문자열에서 사용했던 슬라이싱과 동일하다.

list09 = [1, 2, 3, 4, 5]
print(list09[0:3])

# [a:b]이면 a <= 슬라이싱 구간 < b이다. 한 마디로 b값은 포함 안 함!

print(list09[0:])
print(list09[2:4])
print(list09[:5])

[1, 2, 3]
[1, 2, 3, 4, 5]
[3, 4]
[1, 2, 3, 4, 5]

In [40]:
# 아까 사용했던 list07 = [1, 2, ['F','U','C','K']] 빌려와서 중첩 리스트 슬라이싱을 해보자

print(list07[2][0:3])
print(list07[2][1:4])

['F', 'U', 'C']
['U', 'C', 'K']
['F', 'U', 'C', 'K']
['F', 'U', 'C', 'K']

In [42]:
# 이런 것도 허용은 된다. 허용은! 이러지 말자.

print(list07[2][:100])
print(list07[2][-100:])

['F', 'U', 'C', 'K']
['F', 'U', 'C', 'K']

# **리스트 연산자**

리스트는 덧셈이 가능하다. 사칙연산의 개념이 아닌, 리스트 간의 결합이다.

In [55]:
print(list07 + list08)

[1, 2, ['F', 'U', 'C', 'K'], 10, 50, ['H', 'i', ['F', 'U', 'C', 'K']]]

리스트는 곱셈도 가능하다. 역시 사칙연산 개념이 아닌, 리스트 요소의 반복이다.

In [53]:
print(list07 * 3)

[1, 2, ['F', 'U', 'C', 'K'], 1, 2, ['F', 'U', 'C', 'K'], 1, 2, ['F', 'U', 'C', 'K']]

그럼 이런 것도 가능할까? 확인해보라.

In [54]:
print(list07 * 3 + list08 * 2)

[1, 2, ['F', 'U', 'C', 'K'], 1, 2, ['F', 'U', 'C', 'K'], 1, 2, ['F', 'U', 'C', 'K'], 10, 50, ['H', 'i', ['F', 'U', 'C', 'K']], 10, 50, ['H', 'i', ['F', 'U', 'C', 'K']]]

**가능하다!**

**리스트 연산에 주의할 점이 있다.** 아래의 코드를 실행시켜보자.

In [3]:
print(list07[2] + "hi")

NameError: ignored

오류가 발생할 것이다. 당연하게도, 정수와 문자열은 서로 더하는 것이 불가능하다. 형식을 변환해야 한다.

In [5]:
print(str(list07[1]) + "Fuck")
print(str(list07[2]) + "hi")
print(str(list07[:3]) + "   FFUCK")

2Fuck
['F', 'U', 'C', 'K']hi
[1, 2, ['F', 'U', 'C', 'K']]   FFUCK

# **리스트 수정 및 삭제**

**리스트 요소 하나의 값을 수정해보자**

In [27]:
list10 = [1, 2, 3, 4, 5]
print(list10)

list10[3] = 100
print(list10)

[1, 2, 3, 4, 5]
[1, 2, 3, 100, 5]

**리스트 연속된 범위의 값을 수정해보자**

In [29]:
print(list10[1:3])

# 두 글자에 맞춰 범위는 2개로
list10 = [1, 2, 3, 4, 5]
list10[1:3] = ['h','i']
print(list10)

# 범위 3개로 테스트
list10 = [1, 2, 3, 4, 5]
list10[1:4] = ['h','i']
print(list10)

# 범위 4개로 테스트
list10 = [1, 2, 3, 4, 5]
list10[1:5] = ['h','i']
print(list10)

['h', 'i']
[1, 'h', 'i', 4, 5]
[1, 'h', 'i', 5]
[1, 'h', 'i']

글자 수를 넘는 범위를 지정하면 그냥 공란 처리가 되는 듯하다.  
단일 값과 연속된 범위의 값을 바꾸는 건 서로 다르니 주의하자.

이번에는 리스트를 삭제해보자.  
**1. [ ]를 사용해서 리스트 요소를 삭제한다.**

In [35]:
list10 = [1, 2, 3, 4, 5]
list10[1:4] = []
print(list10)

# 단일 요소 삭제는 불가
list10 = [1, 2, 3, 4, 5]
list10[2] = [ ]
print(list10)

[1, 5]
[1, 2, [], 4, 5]

**2. del 함수를 사용해서 리스트 요소를 삭제한다.**

In [32]:
# 단일 요소 삭제
list10 = [1, 2, 3, 4, 5]
del list10[3]
print(list10)

# 범위 삭제
list10 = [1, 2, 3, 4, 5]
del list10[1:4]
print(list10)

[1, 2, 3, 5]
[1, 5]

# **리스트 관련 함수들**

## 리스트에 요소 추가 (append)

append(X)는 리스트 맨 마지막에 X를 추가시키는 함수이다.

In [36]:
list10 = [1, 2, 3, 4, 5]
list10.append(666)
print(list10)

[1, 2, 3, 4, 5, 666]

## 리스트 정렬 (sort)

sort 함수는 리스트 요소를 순서대로 정렬해준다.

In [40]:
list10 = [5, 6, 9, 1, 4, 3, 2, 8, 7]
list10.sort()
print(list10)

list10 = [666666, 20785, -120, 0, 560]
list10.sort()
print(list10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[-120, 0, 560, 20785, 666666]

문자 역시 알파벳 순서로 정렬 가능하다.

In [43]:
a = ['a', 'c', 'e', 'h', 'g', 'b', 'd', 'f']
a.sort()
print(a)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['1', '10', '666', 'a', 'c', 'e', 'h']
['500', 'a', 'hell', "i'm", 'you']

문자열화 된 숫자와 문자가 섞이면 숫자가 우선시된다.

In [5]:
b = ['a', 'c', 'e', 'h', '1', '666', '10']
b.sort()
print(b)

['1', '10', '666', 'a', 'c', 'e', 'h']

**다만, 아래처럼 진짜 수와 문자가 섞이면 정렬이 불가하다.**

In [47]:
c = ['hell', 'i\'m', 'you', 500, 18, 'a']
c.sort()
print(c)

TypeError: ignored

## 리스트 뒤집기 (reverse)

리스트를 역순으로 뒤집어준다.  
**이 때, 리스트를 순서대로 정렬 후 역순으로 정렬하는 것이 아니라 현재 리스트를 그대로 거꾸로 뒤집는다.**

In [48]:
b = ['a', 'c', 'e', 'h', '1', '666', '10']
b.reverse()
print(b)

['10', '666', '1', 'h', 'e', 'c', 'a']

비교를 위해 동일 리스트에 sort 함수 적용 후, reverse 함수를 사용해보자

In [49]:
b = ['a', 'c', 'e', 'h', '1', '666', '10']
b.sort()
b.reverse()
print(b)

['h', 'e', 'c', 'a', '666', '10', '1']

숫자형과 문자열을 스까놓은 리스트에서도 reverse 함수가 적용이 될까?

In [50]:
c = ['hell', 'i\'m', 'you', 500, 18, 'a']
c.reverse()
print(c)

['a', 18, 500, 'you', "i'm", 'hell']

**된다!**  
**정렬과는 관계 없이 말 그대로 현재 리스트를 역순으로 바꾸기에 가능해보인다**

## 위치 반환 (index)

index(X) 함수는 리스트에 X 값이 있을 경우, X의 위치값을 반환한다.

In [56]:
c = ['hell', 'i\'m', 'you', 500, 18, 'a']
print(c.index('a'))

5

리스트에 해당 요소가 없으면 당연히 오류나겠졍?

In [4]:
c = ['hell', 'i\'m', 'you', 500, 18, 'a']
print(c.index('Hi?'))

ValueError: ignored

## 리스트에 요소 삽입 (insert)

insert(a, b) 함수는 리스트 a번째의 위치에 b를 삽입한다.  
**파이썬에서는 숫자를 0부터 센다는 것을 잊지말자**

In [58]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a.insert(8, 666)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 666, 9]

변환이 아니라 삽입이다 보니, 해당 위치에 있던 요소가 뒤로 밀려난 것을 볼 수 있다.  
이번엔 설정된 리스트 범위를 벗어나게 만들어서 실행해보자.

In [3]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a.insert(20, 'a')
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'a']

리스트 맨 뒤로 간 사실을 알 수 있다.  
이번엔 리스트 범위를 음수로 지정해보자.

In [64]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a.insert(-2, 'a')
print(a)

[1, 2, 3, 4, 5, 6, 7, 'a', 8, 9]

In [2]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9]
b.insert(-20, 'b')
print(b)

['b', 1, 2, 3, 4, 5, 6, 7, 8, 9]

 리스트 음수는 역으로 삽입한다는 걸 볼 수 있다.  
 그리고, 리스트 음수 범위가 과하면 맨 앞에 삽입한다는 걸 알 수 있다.

**파이썬 2버전대에서 테스트 해보자**

## 리스트 요소 제거 (remove)

remove(x) 함수는 리스트에서 처음 나오는 x를 삭제한다.

In [8]:
a = [1, 2, 3, 'h','e','l','l']
a.remove('l')
print(a)

[1, 2, 3, 'h', 'e', 'l']

완전 다른 문자들로 테스트를 해보자.

In [9]:
b = ['a','b','c','d']
b.remove('c')
print(b)

## 리스트 요소 끄집어내기 (pop)

pop()은 리스트의  맨  마지막 요소를 반환하고 그 요소는 삭제하는 함수이다.

pop(x)는 리스트의 x번째 요소를 반환하고 그 요소를 삭제한다.

In [13]:
a = [1,3,4,5,6]
a.pop()
print(a)

b = ['b','a','b','o']
b.pop(2)
print(b)

[1, 3, 4, 5]
['b', 'a', 'o']

문자열 리스트에서 해당 문자를 반환하기 위해 인덱스가 아니라 해당 문자를 넣으면 어떻게 될까?

In [14]:
b = ['b','a','b','o']
b.pop('o')
print(b)

TypeError: ignored

**당연하게도 오류가 발생한다.**

## 리스트에 포함된 요소 x의 개수 세기 (count)

count(x)는 리스트 내의 x가 몇 개 있는지 그 개수를 반환하는 함수이다.

In [17]:
number = [1,3,4,5,3,2,5]
a = number.count(3)
print(a)

2

문자열로도 테스트 해봅시다.

In [19]:
text = ['h','e','l','l']
b = text.count('l')
print(b)

2

# **정리: 리스트 요소를 제거하는 3가지 방법**

1. 리스트의 remove 함수 : 리스트의 요소값을 지정해야 한다.

In [20]:
a = ['a','b','c',1,2,3]
a.remove('b')
print(a)

['a', 'c', 1, 2, 3]

In [22]:
# 인덱스로 실행불가
a = ['a','b','c',1,2,3]
a.remove(0)
print(a)

ValueError: ignored

2. 리스트의 pop 함수 : 리스트의 인덱스를 지정해야 한다.

In [29]:
a = ['a','b','c',1,2,3]
a.pop(2)
print(a)

['a', 'b', 1, 2, 3]

In [30]:
# 요소값으로 실행불가
a = ['a','b','c',1,2,3]
a.pop('c')
print(a)

TypeError: ignored

3. del 함수 : 리스트의 인덱스를 지정해야 한다. 범위 지정 가능.

In [24]:
a = ['a','b','c',1,2,3]
del a[0]
print(a)

a = ['a','b','c',1,2,3]
del a[0:3]
print(a)

['b', 'c', 1, 2, 3]
[1, 2, 3]

In [25]:
# 요소값으로 실행불가1
a = ['a','b','c',1,2,3]
del a['b']
print(a)

TypeError: ignored

In [26]:
# 요소값으로 실행불가2
a = ['a','b','c',1,2,3]
del a('b')
print(a)

SyntaxError: ignored

# **연습 문제**