[View in Colaboratory](https://colab.research.google.com/github/DrKAI/Example/blob/master/Python_Basic.ipynb)

**변수 선언 및 출력**

In [0]:
a = 245452775626

In [0]:
print(a)

245452775626

In [0]:
b=45.4325736
c=a/b
print(c)

print(a/b)는 실행 불가

In [0]:
print(a/b)

SyntaxError: ignored

Q1. 국어 80 영어 75 수학 55
세 과목 평균 점수는?

In [0]:
국어=80
수학=55
영어=75
average = (국어+수학+영어)/3

print(average)

70.0

Q2-3. 17 나누기 3의 몫과 나머지는?

In [0]:
print(17/3)
print(17%3)

5.666666666666667
2

Q4. 자연수 홀짝 구분법은?

2로 나눠서 나머지를 봅시다

In [0]:
이희성 = "바보"
바보 = "이희성"
print(이희성+바보)
바보이희성 = 바보+이희성
print(바보이희성)
print(바보이희성*2)
#print(바보이희성**2) 안됨
#print(바보이희성ˆ3) 상동

바보이희성
이희성바보
이희성바보이희성바보

In [0]:
# 문자열 포매팅 안됨 
#print('"리희성은 %d\% 바보다" % 100')
#babo = "이희성은 %d% 바보다" %100

# 잘됨 내가 멍청한거
# 숫자 바로 대입
print("리희성은 %d%% 한국남자다" % 100)
babo = "이희성은 %d%% 일본남자다" % 100
print(babo)

# 문자열 바로 대입
print("이희성은 %s%% 꺼츠가 클것이다" % "오백만")
print("리희성은 %s 작을 것이다"%"백%s"%"오십%")

# 문자열 뒤 % 유무의 차이
cc = "이희성은 %skg만큼 몸무게가 늘었다"
dd = "이희성은 %skg만큼 몸무게가 늘엇다" %"500"
print(cc)
print(dd)

# 문자값을 나타내는 변수로 대입
ee = "%s"
ff = "%s" %"마더퍼커"
print("한남 %s%s" % (ee, ff))
print("한남 %s %s" % (ee %"죽어", ff))
print("한남 %s %s" % (ff, ee))
# print("한남 %s %d" % (ee, ff)) 형식 불일치로 실행X
# ee와 ff를 바꾸면 ee가 뒤에 %를 사용 안해서 실행X

# 실행 불가
# print("%s %s %s" % (ee, ff))
# print("%s %s" % (ee, ff, ff))

In [0]:
pri

In [0]:
# Q1. "쩜프투 파이썬" 문자열 출력해봐라
# Q2. 두줄짜리 문자열 만들어봐라
# Q3. "python" 문자열 앞에 공백 24자리를 추가해라
# Q4. 주민번호 앞자리와 뒷자리를 나누어 출력하라
# Q5. 주민번호에서 성별 알려주는 숫자를 인덱싱 표기하라
# Q6. 1980M1120 문자열을 M19801120으로 변경하라
# Q7. Q3을 포맷코드로 해봐라
# Q8. life is short 에서 short가 시작되는 인덱스를 구하라
# Q9. a:b:c:d를 a#b#c#d 로 고쳐라 replace로
# Q10. Q9를 split과 join으로 고쳐라

print('"점프투 파이선" 문제를 풀어보자')

# print("""이희성
# 바보""")
baboo = """이희성
바보"""
print(baboo)
print("리희성\n 바보")

print("%spython" % "                        ")
space = "                        "
print("%spython"%space)

jumin = "900819-1234567"
# juminf = jumin[:5]
juminf = jumin[:6]
juminb = jumin[7:]
print(jumin, juminf, juminb)
# 문자열 줄내림말고 변수별로 내리는건 없을까

# 문자열 전체문자수를 알려주는건 없나
print(jumin[7])

a = "1980M1120"
print(a)
b = a[5:]
print("M1980" + b)
# print("%s"+b % "M1980")
print("%s"%"M1980"+b)

##

### 연습문제

Q01. "쩜프투 파이썬" 문자열 출력해봐라

Q02. 두줄짜리 문자열 만들어봐라

Q03. "python" 문자열 앞에 공백 24자리를 추가해라

Q04. 주민번호 앞자리와 뒷자리를 나누어 출력하라

Q05. 주민번호에서 성별 알려주는 숫자를 인덱싱 표기하라

Q06. 1980M1120 문자열을 M19801120으로 변경하라

Q07. Q3을 포맷코드로 해봐라

Q08. life is short 에서 short가 시작되는 인덱스를 구하라

Q09. a:b:c:d를 a#b#c#d 로 고쳐라 replace로

Q10. Q9를 split과 join으로 고쳐라

In [0]:
# Q01
print("쩜프투 파이썬")

print('점프투 파이선')

a = "쩜프투 파이썬"
print(a)

In [0]:
# Q02
print("""쩜프투 
파이썬""")

In [8]:
# Q03
print("                        python")

                        python